global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
    - targets:
      - localhost:9090

  - job_name: node-exporter
    consul_sd_configs:
      - server: '89.111.168.136:8500'
        services: ["node-exporter"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance